<div style="font-size:20px;font-family: cursive; margin-bottom:10px;">
        <span>Songs Collection</span>
        <span data-toggle="modal" data-target="#addsongs">
            <i class="fa fa-plus float-right" aria-hidden="true"></i>
        </span>

        <!-- Modal -->
        <div class="modal fade" id="addsongs" tabindex="-1" role="dialog" aria-labelledby="addsongs"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body clas2">
                        <form  enctype="multipart/form-data" method="post" action="/albums/index">
                            <fieldset>
                                <legend>Add Song</legend>

                                <div class="form-group" style="display:flex">

                                    <input placeholder="album-name" name="albumname" style="width:50%" type="text" class="form-control"
                                        id="exampleInputText" aria-describedby="textHelp">
                                    <span>or</span>

                                    <select class="form-control" id="exampleSelect1" style="width:50%">
                                        <option>Album1</option>
                                        <option>Album2</option>
                                    </select>
                                </div>
                              
                                <div class="form-group">
                                    <label for="exampleSelect1" style="color:white">Genre</label>
                                    <select class="form-control" id="exampleSelect1" name="genre">
                                            <% for(var i=0;i<genres.length;i++){%>
                                        <option value="<%=genres[i].genre%>"><%=genres[i].genre %></option>
                                            <%}%>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Album Cover</label>
                                    <input type="file" class="form-control" name="cover">
                                </div>
                                <div class="form-group">
                                        <label>Songs</label>
                                        <input type="file" class="form-control" name="song">
                                    </div>
            

                                <button type="submit" class="btn btn-secondary"  style="margin-top:10px;background-color:white !important;color:black">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-top:10px;background-color:white !important;color:black">Close</button>

                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
        </div>

       
    </div>