<footer class="main-footer clas1">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top:-10px">
        <p class="social" style="display: flex;
          justify-content: space-between;">
          <span> © 2018 Shashikant Pathak</span>
          <span>
            <a href="https://www.facebook.com/scurezpathak" class="external facebook wow fadeInUp"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/shashikantpathakk/" data-wow-delay="0.2s" class="external instagram wow fadeInUp"><i
                class="fa fa-linkedin"></i></a>
            <a href="https://join.skype.com/invite/bavi9PaGhWVM" data-wow-delay="0.4s" class="external gplus wow fadeInUp"><i
                class="fa fa-skype"></i></a>
          </span>
      </div>
    </div>
  </div>
</footer>
