<section id="references">
        <div class="container">
            <div class="col-sm-12" style="margin-left:-25px">

                <div id="references-masonry" data-animate="fadeInUp" class="text-center">
                    <div class="row">
                        <div data-category="webdesign" class="reference-item col-lg-3 col-md-6" style="margin-bottom: 5px">
                            <div class="reference">
                                <a href="/albums/details"> <img src="https://via.placeholder.com/200" alt=""
                                        class="img-fluid"></a>
                                <div>Album-Name</div>
                                <div>Band</div>
                            </div>
                        </div>
                        <div data-category="webdesign" class="reference-item col-lg-3 col-md-6" style="margin-bottom: 5px">
                            <div class="reference">
                                <img src="https://via.placeholder.com/200" alt="" class="img-fluid">
                                <div>Album-Name</div>
                                <div>Band</div>
                            </div>
                        </div>
                        <div data-category="webdesign" class="reference-item col-lg-3 col-md-6" style="margin-bottom: 5px">
                            <div class="reference">
                                <img src="https://via.placeholder.com/200" alt="" class="img-fluid">
                                <div>Album-Name</div>
                                <div>Band</div>
                            </div>
                        </div>
                        <div data-category="webdesign" class="reference-item col-lg-3 col-md-6" style="margin-bottom: 5px">
                            <div class="reference">
                                <img src="https://via.placeholder.com/200" alt="" class="img-fluid">
                                <div>Album-Name</div>
                                <div>Band</div>
                            </div>
                        </div>
                        <div data-category="webdesign" class="reference-item col-lg-3 col-md-6" style="margin-bottom: 5px">
                            <div class="reference">
                                <img src="https://via.placeholder.com/200" alt="" class="img-fluid">
                                <div>Album-Name</div>
                                <div>Band</div>
                            </div>
                        </div>
                        <div data-category="webdesign" class="reference-item col-lg-3 col-md-6" style="margin-bottom: 5px">
                            <div class="reference">
                                <img src="https://via.placeholder.com/200" alt="" class="img-fluid">
                                <div>Album-Name</div>
                                <div>Band</div>
                            </div>
                        </div>
                        <div data-category="webdesign" class="reference-item col-lg-3 col-md-6" style="margin-bottom: 5px">
                            <div class="reference">
                                <img src="https://via.placeholder.com/200" alt="" class="img-fluid">
                                <div>Album-Name</div>
                                <div>Band</div>
                            </div>
                        </div>
                        <div data-category="webdesign" class="reference-item col-lg-3 col-md-6" style="margin-bottom: 5px">
                            <div class="reference">
                                <img src="https://via.placeholder.com/200" alt="" class="img-fluid">
                                <div>Album-Name</div>
                                <div>Band</div>
                            </div>
                        </div>
                    </div>

                    </a>
                </div>
            </div>
    </section>