

footer{ 
    height: auto;
    background-color: #060606 !important;
    border: 1px solid #282828;}

body{
  display: flex;
  flex-direction: column
}

footer{
  margin-top:auto; 
}
@media (max-width: 600px) {
  .navv, article {
      width: 100%;
      height: auto;
  }
}
